* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 2100px;
  font-family: "Roboto", sans-serif;
  display: block;
}
header {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(#00000099, #00000099),
    url(../img/fondotours.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  opacity: 1;
  box-shadow: 1px 5px 5px 5px #00000050;
}
/*
a.nav-link {
  
  font-size: 20px;
  position: relative;
}
.navbar-nav li a::before {
  display: block;
  content: "";
  width: 0%;
  background: #f2a81d;
  height: 3px;
  top: 0;
  position: absolute;
  transition: width 0.2s;
}
.navbar-nav li a:hover::before {
  width: 50%;
  background-color: #42b881;
}
*/
.texto {
  width: 100%;
}
.txt-present {
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-30%, -40%);
  padding: 30px 30px;
}
h1 {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
h2 {
  color: #f2a81d;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}
#container {
  width: 100%;
  max-width: 1200px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
#container .card {
  width: 330px;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
#container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#container .card img {
  width: 330px;
  height: 220px;
}
#carrusel {
  height: 60%;
  width: 100%;
}
#carouselExampleFade {
  margin: auto 28%;
  margin-top: 5%;
  margin-bottom: 3%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
.txt-form2 {
  width: 100%;
  height: 430px;
}
.txt-somos {
  margin-top: 5%;
  float: left;
  width: 60%;
  height: 100%;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}
h4 {
  color: #0c121d;
  text-align: center;
}
#txt-1,
ul {
  color: #043c53;
  font-size: 15px;
}
.form2 {
  padding-right: 40px;
  margin-top: 5%;
  width: 40%;
  height: 100%;
  float: right;
}
h5,
#txt-preg {
  margin: auto 10%;
  margin-top: 35px;
  color: #043c53;
}
.form-label {
  color: #043c53;
}
.form-subs {
  margin: auto 15%;
  margin-top: 5%;
}
#exampleFormControlInput2,
#exampleFormControlInput3 {
  background-color: #043c53;
  border: 0;
  border-radius: 10px;
  margin-bottom: 3%;
}
.imgs2 {
  width: 100%;
  height: 570px;
  display: block;
}
h6 {
  text-align: center;
  padding-top: 50px;
}
.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .card {
  width: 330px;
  height: 420px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
  width: 330px;
  height: 220px;
}
.container .card p {
  text-align: justify;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #0c121d;
  display: flex;
  justify-content: center;
}
#redes {
  padding-top: 10px;
}
#img-redes {
  padding-left: 30%;
  padding-right: 30%;
}
#img-redes img {
  width: 24px;
  height: 24px;
  margin-left: 5%;
}
#titulo-redes {
  font-size: 20px;
  color: #fff;
}
#copy {
  color: #fff;
  margin-left: 30px;
}
