*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#00000099,#00000099),url(../img/fondoIndex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: auto;
}
nav{
    width: 100%;
}
.logo{
    float: left;
    width: 30%;
    height: auto;
}
#logo{
    width: 25%;
    margin: 10%;
    margin-left: 20%;
}
.menu{
    width: 70%;
    float: right;
    padding-left: 20%;
    margin-top: 1%;
}
.menu ul{
    list-style: none;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    margin: 5%;
    margin-top: 0;
    padding-top: 8%;
}
#navbarDropdownMenuLink{
    padding: 0;
    padding-top: 8%;
}
.dropdown-item{
    color: #fff;
    margin: 0;
    padding: 0;
}
ul li a{
    display: inline;
    margin-left: 5%;
    padding: 0;
    float: left;
    position: relative;
    font-size: 18px;
}
.menu li a:hover{
    color: #F2A81D;
}
.dropdown-menu{
    background-color: #00000050;
    border-radius: 3px;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #F2A81D;
}
.dropdown-item:hover{
    color: #F2A81D;
    background-color: transparent;
    width: 100%;
}
.menu ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: #F2A81D;
    height: 3px;
    top: 0;
    position: absolute;
    transition:  width .2s;
}
nav ul li a:hover::before {
    width: 100%;
    background-color: #42b881;
}
h1{
    color: #ffffff;
    font-size: 80px;
    font-weight: 500;
    animation: bounce1 .7s alternate  ease-in;
    animation-iteration-count: 3;
}
h2{
    margin-left: 30%;
    font-size: 30px;
    font-weight: normal;
    animation: jello .7s alternate  ease-in;
    animation-iteration-count: 3;
    color: #F2A81D;
}
@keyframes bounce1{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes jello{
    0%{
        transform: translateY(180%);
    }
    100%{
        transform: translateY(0%);
    }
}
.texto{
    margin-left: 20%;
    height: 80px;
    position: absolute;
    top: 45%;
    margin-top: -50px;
}


