* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(#00000099, #00000099),
    url(../img/fondoGaleria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: local;
  font-family: "Roboto", sans-serif;
}
section{
  height: 1060px;
}
#toggleMobileMenu ul li a {
  color: #fff;
  font-size: 18px;
  position: relative;
  padding-left: 0;
}
#toggleMobileMenu ul li {
  margin-left: 10%;
}
#toggleMobileMenu {
  margin-left: 50%;
}
.dropdown-menu {
  background-color: #00000070;
  border-radius: 10px;
  width: 200px;
}
.dropdown-item:hover {
  background-color: transparent;
}
#toggleMobileMenu ul li a:hover {
  color: #f2a81d;
}
#toggleMobileMenu ul li a::before {
  display: block;
  content: "";
  width: 0%;
  background: #f2a81d;
  height: 3px;
  top: 0;
  position: absolute;
  transition: width 0.2s;
}
#toggleMobileMenu ul li a:hover::before {
  width: 50%;
  background-color: #42b881;
}
.txt-present {
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-30%, -40%);
  padding: 30px 30px;
}
h1 {
  color: #fff;
}

#container {
  width: 100%;
  max-width: 1200px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.container .card {
  width: 330px;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .card img {
  width: 330px;
  height: 220px;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #0c121d;
  display: flex;
  justify-content: center;
}
#redes {
  padding-top: 10px;
}
#img-redes {
  padding-left: 30%;
  padding-right: 30%;
}
#img-redes img {
  width: 24px;
  height: 24px;
  margin-left: 5%;
}
#titulo-redes {
  font-size: 20px;
  color: #fff;
}
#copy {
  color: #fff;
  margin-left: 30px;
}

