* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#00000099, #00000099),
    url(../img/fondoIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: auto;
}
#toggleMobileMenu ul li a {
  color: #fff;
  font-size: 18px;
  position: relative;
  padding-left: 0;
}
#toggleMobileMenu ul li {
  margin-left: 10%;
}
#toggleMobileMenu {
  margin-left: 50%;
}
.dropdown-menu {
  background-color: #00000070;
  border-radius: 10px;
  width: 200px;
}
.dropdown-item:hover {
  background-color: transparent;
}
#toggleMobileMenu ul li a:hover {
  color: #f2a81d;
}
#toggleMobileMenu ul li a::before {
  display: block;
  content: "";
  width: 0%;
  background: #f2a81d;
  height: 3px;
  top: 0;
  position: absolute;
  transition: width 0.2s;
}
#toggleMobileMenu ul li a:hover::before {
  width: 50%;
  background-color: #42b881;
}
h1 {
  color: #ffffff;
  font-size: 80px;
  font-weight: 500;
  animation: bounce1 0.7s alternate ease-in;
  animation-iteration-count: 3;
}
h2 {
  margin-left: 30%;
  font-size: 30px;
  font-weight: normal;
  animation: jello 0.7s alternate ease-in;
  animation-iteration-count: 3;
  color: #f2a81d;
}
@keyframes bounce1 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes jello {
  0% {
    transform: translateY(180%);
  }
  100% {
    transform: translateY(0%);
  }
}
.texto {
  margin-left: 20%;
  height: 80px;
  position: absolute;
  top: 45%;
  margin-top: -50px;
}
