@media screen and (max-width: 1000px) {
    body{
        width: 100%;
    }
    header{
        height: 100vh;
    }
    .logo{
        display: none;
    }
    .menu{
        width: 100%;
        margin-top: 5%;
        padding-left: 0;
    }
    .menu ul li a{
        margin: 0;
        padding-top: 8%;
        margin-right: 5%;
    }
    ul li a{
        margin: 0;
        font-size: 15px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 15px;
        margin-left: 15%;
    }
    .texto{
        margin-left: 10%;
        height: auto;
        position: absolute;
        top: 50%;
        margin-top: -50px;
    }
}