@media screen and (max-width: 1000px) {
    header{
        height: 350px;
    }
    nav{
        width: 100%;
    }
    .logo{
        display: none;
    }
    .menu{
        float: none;
        width: 425px;
        margin-top: 5%;
        padding-left: 0;
        margin: auto;
        background-color: yellow;
    }
    .menu ul li a{
        margin: 0;
        padding-top: 8%;
        margin-right: 3%;
    }
    ul li a{
        margin: 0;
        font-size: 11px;
    }
    .txt-present{
        top: 25%;
        left: 35%;
    }
    h2{
        font-size: 25px;
    }
    .container{
        width: 100%;
        max-width: 300px;
        height: auto;
        display: block;
        margin-left: 3%;
    }
    .container .card img{
        width: 300px;
        height: 190px;
    }
    .container .card{
        width: 100%;
        height: auto;
    }
    .caja1{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .caja3{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .caja4{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .caja5{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
}