* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(#00000099, #00000099),
    url(../img/fondotours.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: local;
  font-family: "Roboto", sans-serif;
}
#toggleMobileMenu ul li a {
  color: #fff;
  font-size: 18px;
  position: relative;
  padding-left: 0;
}
#toggleMobileMenu ul li {
  margin-left: 10%;
}
#toggleMobileMenu {
  margin-left: 50%;
}
.dropdown-menu {
  background-color: #00000070;
  border-radius: 10px;
  width: 200px;
}
.dropdown-item:hover {
  background-color: transparent;
}
#toggleMobileMenu ul li a:hover {
  color: #f2a81d;
}
#toggleMobileMenu ul li a::before {
  display: block;
  content: "";
  width: 0%;
  background: #f2a81d;
  height: 3px;
  top: 0;
  position: absolute;
  transition: width 0.2s;
}
#toggleMobileMenu ul li a:hover::before {
  width: 50%;
  background-color: #42b881;
}
.txt-present {
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-30%, -40%);
  padding: 30px 30px;
}
h1 {
  color: #fff;
}
h2 {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 2.5rem;
}
hr {
  margin-left: 4%;
  margin-right: 4%;
}
#container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .card {
  width: 25%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: justify;
  transition: all 0.25s;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  background-color: #f2911b50;
}

.container .card img {
  width: 330px;
  height: 220px;
}

.container .card h4 {
  font-weight: 600;
  text-align: center;
  padding: 3%;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}
ul {
  list-style: circle;
  margin-left: 10px;
  margin-right: 15px;
}
li {
  font-size: 15px;
  letter-spacing: 1px;
  text-align: justify;
}

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  width: 140px;
}
.button {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 3%;
  margin-left: 25%;
}
.caja1 {
  margin-top: 10px;
}
.caja3 {
  margin-top: 65px;
}
.caja4 {
  margin-top: 320px;
}
.caja5 {
  margin-top: 140px;
}
.button:hover {
  background-color: #00bb2d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translate(-7px);
}
.button:hover > svg {
  fill: #fff;
}
svg {
  margin-right: 5%;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #0c121d;
  display: flex;
  justify-content: center;
}
#redes {
  padding-top: 10px;
}
#img-redes {
  padding-left: 30%;
  padding-right: 30%;
}
#img-redes img {
  width: 24px;
  height: 24px;
  margin-left: 5%;
}
#titulo-redes {
  font-size: 20px;
  color: #fff;
}
#copy {
  color: #fff;
  margin-left: 30px;
}
