@media screen and (max-width: 1000px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 15px;
    margin-left: 15%;
  }
  .texto {
    margin-left: 10%;
    height: auto;
    position: absolute;
    top: 50%;
    margin-top: -50px;
  }
  .navbar-nav {
    background-color: #00000099;
    border-radius: 20px;
    position: fixed;
    width: 100vw;
    flex-direction: column;
    z-index: 1;
    top: 15%;
    left: -1%;
  }
  .navbar-nav ul li,
  #toggleMobileMenu ul li {
    margin: 5% 0 0 15%;
    line-height: 25px;
  }
  .dropdown-menu {
    background-color: #00000099;
    position: fixed;
    width: 70%;
    margin-left: -10%;
    flex-direction: column;
    z-index: 1;
  }
  #toggleMobileMenu ul li a:hover::before {
    width: 15%;
    background-color: #42b881;
  }
  #toggleMobileMenu {
    margin-top: -70px;
    margin-left: 100px;
  }
  #img-redes a img {
    margin-left: 5%;
  }
}
